body {
   --main-color:red:;

}



h2 {
  color:black;
    text-align: center;
}
h3 {

  color:black;
    text-align: center;
}

.footer {

  margin: auto;
  text-align: center;

}

.container {

    overflow: auto;
	  margin: 50px;
}
.cellContainer {
    height: auto;
 width: 25%;
 float: center;
}
.navbar-brand {

margin:10px;
padding: 60px;


}
.nav-link:hover {

background-color: #222;

}


}
.containerMain {
	padding: 100px;
}
.categoryWrapper {
  display:  block;
  width: 95%;
  height: 600px;
  padding: 5px;
}


.cellContainer {
  width: 25%;
  float: left;
  height: auto;
}

#whatever{
  margin: 25px;
	padding: 25px;
}
#cart{
  height:60px;
  width:auto;

}
.thumb{

  border: 3px solid #73AD21;
  border-color:lightgrey;
  max-width:320px;
  height: 520px;
  padding: 5px;

}
.photoframe{

  margin: auto;
  height:180px;
    padding: 5px;
  width:150px;
}
.myCategory{

   width: 33.33px;
   padding: 15px;

}
